@model NhanVien
@{
    ViewData["Title"] = "Xoa";
    Layout = "~/Areas/Admin/Views/Shared/ViewHomeAdmin.cshtml";
}

<div class="row ">
    <div class="col-md-12">
        <div class="card w-50 mb-4 mx-auto">
            <h5 class="card-header">Sử Dụng Sản Phẩm</h5>
            <div class="card-body">
                <form id="formAuthentication" class="mb-3" asp-action="Xoa" method="POST">                      
                    <input type="hidden" asp-for="IdNv" value="@Model.IdNv" />
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.IdNv)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.IdNv)
                        </dd>
                        <dt class="col-sm-6">
                            Tên Công Ty
                        </dt>
                        <dd class="col-sm-6">
                            @ViewBag.CTY
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.TenNv)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.TenNv)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.EmailNv)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.EmailNv)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.SđtNv)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.SđtNv)
                        </dd>
                    </dl>

                    <div class="mb-4 form-outline form-control1">
                        <label asp-for="Mk" class="form-label"></label>
                        <input type="password" id="slsd" class="form-control w-50" name="slsd" value="@Model.Mk" readonly />
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-danger d-grid w-100" type="submit">Xóa Nhân Viên</button>
                    </div>
                    <div class="mb-3">
                        <a asp-controller="Home" asp-action="NhanVien" class="btn btn-outline-dark d-grid w-100">Hủy</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

