@model SanPham
@{
    ViewData["Title"] = "Xoa";
    Layout = "~/Areas/Admin/Views/Shared/ViewHomeAdmin.cshtml";
}

<div class="row ">
    <div class="col-md-12">
        <div class="card w-50 mb-4 mx-auto">
            <h5 class="card-header">Xóa Sản Phẩm</h5>
            <div class="card-body">
                <form id="formAuthentication" class="mb-3" asp-action="Xoa" method="POST">           
                    <input type="hidden" asp-for="IdSp" value="@Model.IdSp" />
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.TenSp)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.TenSp)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.SlHt)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.SlHt)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.GioiHan)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.GioiHan)
                        </dd>
                    </dl>       
                   
                    <div class="mb-3">
                        <button class="role d-grid w-100" type="submit">Xác Nhận</button>
                    </div>
                     <div class="mb-3">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark d-grid w-100">Hủy</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


